// Variables
@use 'varibles.scss' as *;
// ----- Onboarding -----
.onboarding {
    padding: 10px 15px;
    height: 100vh;
    .onboarding__img {
        display: flex;
        justify-content: center;
        img {
            max-width: 500px;
            width: 100%;

        }
    }
}
.onboarding__text {
    text-align: center;
    h2 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 30px;
    }
    button {

        padding: 15px 0;
        max-width: 350px;
        border-radius: 25px;
        width: 100%;
        color: white;
        background-color: $vegetta-color;
    }
}