// Variables
@use "variables.scss" as *;

// Button__vegetta
.button__vegetta {
    font-family: $page-font;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 0;
    max-width: 350px;
    border-radius: 25px;
    width: 100%;
    color: white;
    background-color: $vegetta-color;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}