@use "../variables.scss" as *;
// ----- detailspage -----
.detailspage__wrapper {
  background-image: url("C:\VScode\Hovedforløb\Frameworks\Pet-app\assets\background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.details__top {
  position: relative;
  height: 350px;
  display: flex;
  justify-content: end;
  align-items: end;

  img {
    transform: translateX(-50px);
    max-width: 225px;
    width: 100%;
  }
}
.details__bottom {
  border-radius: 25px 25px 0 0;
  padding: 20px 25px;
  background-color: $page-back-color;
  h2 {
    color: $title-color;
  }
  .pet__card__location {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 25px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-transform: capitalize;
      button {
        width: 40px;
      }
    }
  }
  .details__des {
    margin-bottom: 20px;
    color: $text-color-3;
  }
  .details__backbtn {
    display: flex;
    justify-content: center;
    button {
      width: 300px;
    }
  }
}
