@use "../variables.scss" as *;
// ----- Homepage -----
.homepage__wrapper {
  background-color: white;
}
.categories__ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 15px;
}
.pet__ul {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}
.pet__card {
  padding: 10px 30px 0 20px;
  position: relative;
  border-radius: 25px;
  max-width: 500px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  color: $text-color-1;
  gap: 10px;
  img {
    max-width: 150px;
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  button {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.pet__card__location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $text-color-2;
}
