@use "../variables.scss" as *;
// ----- Homepage -----
.homepage__wrapper {
  background-color: white;
}
// Categories
.categories__ul {
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
}
.category {
  font-weight: bold;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 15px;
  text-transform: capitalize;
  color: $light-vegetta-color;
  box-shadow: $box-shadow;

}
// Pets
.pet__ul {
  margin: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}
.pet__card {
  height: 175px;
  padding: 10px 30px 0 20px;
  position: relative;
  border-radius: 25px;
  max-width: 500px;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  color: $text-color-1;
  gap: 10px;
  img {
    max-width: 150px;
    object-fit: cover;
  }
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  button {
    width: 25px;
    height: 25px;

    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.pet__card__location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $text-color-2;
}
