@use "../variables.scss" as *;
// ----- profilepage -----
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.profile__img {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}
.profile__des {
    text-align: center;
    padding: 10px;
    h2 {
        margin-bottom: 20px;
    }
    p {
        max-width: 400px;
    }
}